/*My added styles*/

thead.fc-head{
  background-color: rgba(185,189,199,1);
}

div.fc-day-grid.fc-unselectable{
  background-color: #f6f6f6;
}

.fc-left h2{
  list-style-type: none;
  color: rgba( 61,107,107,1);
  font-size: 2rem;
}

/*END My added styles*/

.fc-event-container {
  padding: 0.01rem !important;
}

.fc-event {
  padding: 0.15rem 0.3rem;
  border-color: #ddd;
  background: #fff !important;
}

.fc-content h4 {
  margin: 0;
  font-weight: bold;
  color: #666;
  font-size: 0.75rem;
  line-height: 1rem;
  white-space: normal;
}

.fc-content h4 span{
  text-shadow: 0.1rem 0.1rem 0.1rem #807f80;
}

/*--------Start media queries----------*/

@media only screen and (max-width: 450px){ /* mobile phone */

.fc-left h2{
  font-size: 1.09rem;
  padding-top: 0.4rem;
}

}

@media only screen and (max-width: 575px){ /* xtra small */

  .fc-content{
    padding: 0;
    margin: 0;
  }

  .fc-content h4{
    display: none;
  }

  .fc-content hr{
    margin: 0;
    padding: 0;
    cursor: auto;
  }

  a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end{
    padding: 0;
    border: 0px;
  }

  a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-not-end{
    padding: 0;
  }

  a.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-not-end{
    padding: 0;
  }

  a.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end{
    padding: 0;
  }

  .depIndicator{
    min-height: 0.5rem;
    border-radius: 0.25rem;
  }

  .fc-week{
    min-height: 4rem !important;
  }

} /* END xtra small */

@media only screen and (min-width: 576px) and (max-width: 767px){ /* small */

  .fc-event:hover {
    background: #fcf8e3 !important;
    border: 1px solid #b8ae7e;
  }

  .fc-content {
    color: #444;
    cursor: pointer;
  }

  .fc-content hr{
      display: none;
  }

  .fc-week{
    min-height: 5.5rem !important;
  }

} /* END small */

@media only screen and (min-width: 768px) and (max-width: 991px){ /* medium */

  .fc-event:hover {
    background: #fcf8e3 !important;
    border: 1px solid #b8ae7e;
  }

  .fc-content {
    color: #444;
    cursor: pointer;
  }

  .fc-content hr{
      display: none;
  }

  .fc-week{
    min-height: 5.5rem !important;
  }

} /* END medium */

@media only screen and (min-width: 992px) and (max-width: 1199px){ /* large */

  .fc-event:hover {
    background: #fcf8e3 !important;
    border: 1px solid #b8ae7e;
  }

  .fc-content {
    color: #444;
    cursor: pointer;
  }

  .fc-content hr{
      display: none;
  }

  .fc-week{
    min-height: 6.5rem !important;
  }

} /* END large */

@media only screen and (min-width: 1200px){ /* xtra large */

  .fc-event:hover {
    background: #fcf8e3 !important;
    border: 1px solid #b8ae7e;
  }

  .fc-content {
    color: #444;
    cursor: pointer;
  }

  .fc-content hr{
      display: none;
  }

  .fc-week{
    min-height: 7rem !important;
  }

} /* END xtra large */

/*--------Start media queries----------*/