.fc-event-container {
  padding: 0.01rem !important;
}

.fc-event {
  padding: 0.15rem 0.3rem;
  border-color: #ddd;
  background: #fff !important;
}

.fc-event:hover {
  background: #fcf8e3 !important;
  border: 2px solid #b8ae7e;
}

.fc-content {
  color: #444;
  cursor: pointer;
}

h4 {
  margin: 0;
  font-weight: bold;
  color: #666;
  font-size: 0.75rem;
  line-height: 1rem;
  white-space: normal;
}



/*--------Start media queries----------*/

@media only screen and (max-width: 575px){ /* xtra small */


} /* END xtra small */

@media only screen and (min-width: 576px) and (max-width: 767px){ /* small */


} /* END small */

@media only screen and (min-width: 768px) and (max-width: 991px){ /* medium */


} /* END medium */

@media only screen and (min-width: 992px) and (max-width: 1199px){ /* large */


} /* END large */

@media only screen and (min-width: 1200px){ /* xtra large */


} /* END xtra large */

/*--------Start media queries----------*/