.dayHeader{
	text-align: center;
	list-style-type: none;
	color: grey;
}

.mobileDayView hr{
	display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: none;
  padding: 0; 
}

@media only screen and (min-width: 576px){

	.mobileDayView{
		display: none;
	}

}/*end NO mobile*/