#ulShell{
	padding-top: 0;
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
}

.ulSubShell{
	padding-right: 0rem;
	padding-left: 0rem;
}

.liYear{
	color: grey;
	text-align: center;
	list-style-type: none;
	background-color: rgba( 82,136, 82,1);
	background-image: linear-gradient(to left, rgba(247,224,205,1), rgba(185,189,199,1) 100%);
}

.liMonth{
	list-style-type: none;
	color: rgba( 61,107,107,1);
}

.liMonth h3{
	font-size: 2.5rem;
	text-shadow: 0.1rem 0.1rem 0.3rem rgba( 61,107,107,0.75);
}

.ulFinalSubShell{
	padding-right: 0rem;
	padding-left: 0rem;
	margin-right: 0rem;
	margin-left: 0rem;
}

.liEvent{
	list-style-type: none;
	cursor: pointer;
	border: 2px solid rgba(178,136,101,0);
	border-radius: 0.2rem;
	padding: 0.5rem;
	margin-bottom: 0.2rem;
	background-color: rgba(178,136,101,0.1);
	background-image: linear-gradient(to top, rgba(178,136,101,0), rgba(178,136,101,0.1) 100%);
}

.liEvent:hover{
	background: #fcf8e3;
	border: 2px solid #b8ae7e;
}

.divEvent{
	font-weight: 900;
	text-overflow: ellipsis;
	margin-top: 0rem;
	text-align: center;
}

.spanDep{
	color: grey;
	text-align: right;
}