#noEventMSG div{
	padding-top: 8rem;
	padding-bottom: 10rem;
	text-align: center;
	color: #495777;
}

#noEventMSG div span{
	font-size: 4rem;
}

#ulShell{
	padding-top: 0;
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
}

.ulSubShell{
	padding-right: 0rem;
	padding-left: 0rem;
}
 
.liYear{
	color: grey;
	text-align: center;
	list-style-type: none;
	font-size: 8rem;
}

.liYear h2{
	font-size: 4rem;
}

.liYear hr{
	display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: none;
  padding: 0; 
}

.liMonth{
	list-style-type: none;
	color: rgba( 61,107,107,1);
}

.liMonth h3{
	font-size: 2rem;
}

.ulFinalSubShell{
	padding-right: 0rem;
	padding-left: 0rem;
	margin-right: 0rem;
	margin-left: 0rem;
}

.liEvent{
	list-style-type: none;
	cursor: pointer;
	padding: 0.5rem;
	margin-bottom: 0.2rem;
}

.liEvent:hover{
	color: #337ab7;
}

.divEvent{
	font-weight: 900;
	text-overflow: ellipsis;
	margin-top: 0rem;
}

.spanDep{
	color: grey;
	text-align: right;
}

.oneEventDate{
	font-family: "PT Mono", monospace;
	color: blue;
}