/*------global styles-------------*/

html{
	font-size: 16px;
}

body{
	background-color: rgba(225,229,229,1);
}

/*--END global styles-------------*/

/*------------welcome--------------*/

#welcomeToLoqui{
	text-align: center;
	color: #B28865;
}

#welcomeAccess{
	text-align: center;
	color: #5A7F7F;
}

.welcomeBlurb{
	text-align: center;
	font-weight: 800;
}

/*------------/welcome--------------*/

/*------------signup--------------*/

#login-dropdown-list label:first-child{
	text-align: center;
	font-weight: bolder;
	font-size: 1.25rem;
	margin: auto;
  width: 100%;

}

#login-dropdown-list label:nth-child(1n+2){
	text-align: center;
	font-size: 1rem;
	margin: auto;
  width: 49%;
  position: relative;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

#login-dropdown-list label:nth-child(1n+2):hover{
	color: #B28865;
}

/*------------/signup--------------*/

/*------------navbar--------------*/

nav.navbar.navbar-default{
	border: none;
	border-radius: 0px;
}

.navbar-btn{
	margin-right: 0.8rem;
	margin-top: 0.7rem;
	background-color: rgba(247,224,205,0);
	border: none;
}

.navbar-brand{
	font-weight: 900;
	font-family: "PT Mono", monospace;
}

.navbar-btn:hover{
	background-color: rgba(212,178,151,1);
}

div.container-fluid{
	background-color: rgba(247,224,205,1);
}

/*--------END navbar--------------*/

/*--------viewWrapper--------------*/

#viewBtn{
	font-size: 1.25rem;
}

#instituteFilter{
	margin: 1.2rem;
	color: grey;
}

#instituteFilter{
	cursor: pointer;
}

#instituteFilter:hover{
	color: black;
}

/*--------END viewWrapper--------------*/

/*------------calendarsNav--------------*/

.calDBselect{
	margin-bottom: 1.2rem;
	margin-left: 0rem;
	padding-left: 0rem;
	margin-right: 0rem;
	padding-right: 0rem;
	border: none;
	border-radius: 0rem;
}

.calDBselect button{
	border: none;
	border-radius: 0rem;
	background-color: rgba(247,205,205,0);
	font-size: 0.9rem;
}

button#dropdownMenu1.btn.btn-default.dropdown-toggle.col-xs-12, 
button#interested.btn.btn-default.col-xs-12{
	background-color: rgba(172,187,187,0);
}

button#dropdownMenu1.btn.btn-default.dropdown-toggle.col-xs-12:hover, 
button#interested.btn.btn-default.col-xs-12:hover{
	background-color: rgba(172,187,187,1);
}

button#dropdownMenu1.btn.btn-default.dropdown-toggle.col-xs-12, 
button#iveAdded.btn.btn-default.col-xs-12{
	background-color: rgba(172,187,187,0);
}

button#dropdownMenu1.btn.btn-default.dropdown-toggle.col-xs-12:hover, 
button#iveAdded.btn.btn-default.col-xs-12:hover{
	background-color: rgba(172,187,187,1);
}

#dropdown-menu{
	margin-top: 0rem;
	border-radius: 0rem;
	padding: 0rem;
	border: none;
	width: 200%;
	background-image: linear-gradient(to left, rgba(172,187,187,1), rgba(185,189,199,1), rgba(172,187,187,1) 100%);
}

.departmentDropDownItem, #allDeps{
	background-color: rgba(172,187,187,0);
	font-weight: bold;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.calDBselect ul li:hover{
	background-color: rgba(123,148,148,1);
	cursor: pointer;
}

#allDeps:hover{
	background-color: rgba(123,148,148,1);
}

.departmentDropDownItem span{
	color: grey;
}
/*--------END calendarsNav--------------*/

/*------------viewWrapper--------------*/

#viewBtn{
	width: 100%;
	margin-bottom: 0;
	border: none;
	background-color: rgba(212,191,151,1);
	background-image: linear-gradient(to left, #f5f5f5, rgba(212,191,151,1), #f5f5f5 100%);
	color: #777777;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

#events-calendar{
	margin-top: 1.2rem;
}

div#viewWrapper.container.well{
	border:none;
	box-shadow: none;
	border-radius: 0px;
}

/*--------END viewWrapper--------------*/

/*--------add-edit-event-modal--------------*/

textarea {
    resize: none;
}

/*--------END add-edit-event-modal--------------*/

/*--------Start media queries----------*/

@media only screen and (max-width: 575px){ /* xtra small */

	#loginButtons{
		float: right;
		
	}

	#login-dropdown-list .dropdown-toggle[aria-expanded="true"]{
		width: 100vw;
		
	}

} /* END xtra small */

@media only screen and (min-width: 576px) and (max-width: 767px){ /* small */

	#loginButtons{
		float: right;
	}

	#login-dropdown-list .dropdown-toggle[aria-expanded="true"]{
		width: 100vw;
	}

} /* END small */

@media only screen and (min-width: 768px) and (max-width: 991px){ /* medium */
	/* CAN BE DELETED: for prototyping only */
	/*body{
		background-color: orange;
	}*/
	/* END CAN BE DELETED*/

} /* END medium */

@media only screen and (min-width: 992px) and (max-width: 1199px){ /* large */
	/* CAN BE DELETED: for prototyping only */
	/*body{
		background-color: yellow;
	}*/
	/* END CAN BE DELETED*/

} /* END large */

@media only screen and (min-width: 1200px){ /* xtra large */
	


} /* END xtra large */

/*--------Start media queries----------*/