<template name="welcome">
	<h1 id="welcomeToLoqui">Welcome to Loqui!</h1>
	<p id="welcomeAccess">Sign in or join for access.</p>
	<div class="container well">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<video width="100%" height="auto" autoplay="true">
				  <source src="welcomevideo.mp4" type="video/mp4">
				  <!-- <source src="movie.ogg" type="video/ogg"> -->
				Your browser does not support the video tag.
				</video>
			</div>
		</div>
	</div>
	<!-- <iframe src="../../../../public/Welcome_Video.mov"></iframe> -->
</template>