<template name="calendarsNav">
		<div id="calendarsNav" class="container">
			<button class="calDBselect"><span class="glyphicon glyphicon-calendar"></span> All</button>
			<button class="calDBselect"><span class="glyphicon glyphicon-ok"></span> Marked</button>
			<button class="calDBselect depCalDBselect"><span class="glyphicon glyphicon-education"></span> Dep. <span class="closeCal pull-right">&times;</span></button>
			<button class="calDBselect">Add <span class="glyphicon glyphicon-plus"></span></button>
		</div>
</template>