<template name="calendarsNav">
		<div id="calendarsNav" class="container">
			<div class="dropdown calDBselect col-xs-6">
			  <button class="btn btn-default dropdown-toggle col-xs-12" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    {{depBtnLabel}}
			    <span class="caret"></span>
			  </button>
			  <ul id="dropdown-menu" class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu1">
			  	<li id="allDeps">All</li>
			  	{{#each distinctDepartments}}
			    	<li class="departmentDropDownItem">{{this}}</li>
			    {{/each}}
			  </ul>
			</div>
			{{#if currentUser.profile.contributor}}
			<div class="calDBselect col-xs-6">
			  <button class="btn btn-default col-xs-12" type="button" id="iveAdded">
			    <span class="glyphicon glyphicon-star"></span> I've added
			  </button>
			</div>
			{{else}}
			<div class="calDBselect col-xs-6">
			  <button class="btn btn-default col-xs-12" type="button" id="interested">
			    <span class="glyphicon glyphicon-ok"></span> Interested
			  </button>
			</div>
			{{/if}}
		</div>
</template>