<template name="navbar">
	<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul id="loginButtons" class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
      {{#if currentUser.profile.contributor}}
        <button type="button" id="submitBtn" class="navbar-btn btn btn-default pull-right">
          <span class="sr-only">Submit New Event</span>
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      {{/if}}
      <div class="navbar-brand brand">Loqui</div>
    </div>
	</nav>	
</template>