<template name="addEditEventModal">
  <div class="modal fade" id="add-edit-event-modal" tabindex="-1" role="dialog" aria-labelledby="add-edit-event-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="add-edit-event">{{modalLabel.label}} Event</h4>
      </div> <!-- /modal-header -->

      <form id="add-edit-event-form"><!-- form  -->
        <div class="modal-body"> <!-- input -->

          <div class="form-group">
            <input type="text" name="institution" class="form-control" value="{{currentUser.profile.institution}}" readonly="true">
          </div>

          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" value="{{event.title}}">
          </div>

          <div class="form-group">
            <label for="department">Department</label>
            <input type="text" name="department" class="form-control" value="{{event.department}}">
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="10" name="description" class="form-control" value="{{event.description}}"></textarea>
          </div>

          <div class="form-group">
            <label for="start">Start</label>
            <span> / </span>
            <label for="end">End</label>
            <span> dates</span>
            <div class="input-daterange input-group" id="datepicker">

                <input type="text" class="set-due-date form-control" name="start" value="{{event.start}}"/>
                <span class="input-group-addon">to</span>
                <input type="text" class="set-due-date form-control" name="end" value="{{#if event.end}}{{event.end}}{{else}}{{event.start}}{{/if}}"/>
            </div>
          </div>

          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="location" class="form-control" value="{{event.location}}">
          </div>

        </div> <!-- / input -->

        <div class="modal-footer">
          {{#if modalType 'edit'}}
            <button class="btn btn-danger pull-left delete-event">Delete</button>
          {{/if}}
          <button id="cancelForm" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">{{modalLabel.button}}</button>
        </div>
      </form><!-- / form  -->

    </div>
  </div>
</div>
</template>